.flex{
  display: flex;
  flex-wrap: wrap;
  // padding: auto;
}

/* SP MediaQuery */
@media only screen and (max-width:767px) {
.flex{
  display: flex;
  flex-direction: column;
}
}
/* SP MediaQuery end */
