.main{
  position: relative;

  &__visual{
    position: absolute;
    top: 24%;
    left: 14.5%;
    img{
      margin-top: 60px;
    }
  }
  &__text{
    position: absolute;
    left: 55.5%;
    img{
      margin-top: 59.8%;
    }

  }
}
.text{
  display: flex;
  font-size: 24px;
  margin-left: 149px;
  p{
    margin-top: 41%;
  }

}

@media only screen and (max-width: 767px) {
  .main{
    position: static;
    max-width: 100%;
    padding-top: 30%;

    &__visual{
      position: static;
      top: 24%;
      left: 14.5%;
      img{
        width: 100%;
      }
    }
    &__text{
      left: 0;
      img{
        z-index: 100;
        width: 68%;
        margin-top: 19.8%;
        margin-left: 14px;
      }
    }
  }

 .text{
  display: block;
  font-size: 16px;
  margin: 10px 80px;
  text-align: center;
  line-height: 1.5;
  p{
    margin-top: 0%;
  }
}
}
