.main{
  position: relative;
  &__visual{
    position: absolute;
    left: 15%;
  }
  &__text{
    position: absolute;
    left: 56%;
    margin-top: 16.4%;
  }
}

.text{
  display: flex;
  position: absolute;
  top: 76%;
  margin-left: 155px;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .main{
    margin-top: 110px;
    max-width: 100%;
    &__visual{
      margin-top: 31px;
      position: static;
      img{
        max-width: 100%;
      }
    }
    &__text{
      left: 15px;
      margin-top: 0;
      top: 15px;
      img{
        width: 70%;
      }
    }
  }
  .text{
    display: block;
    position: static;
    margin: 10px 80px;
    line-height: 1.5;
    font-size: 16px;
    top: 95%;
    text-align: center;
  }
}
