.header{
  position: relative;
  &__nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    li{
      font-size: 14px;
      font-weight: bold;
      padding: 60px 60px 0 0;
    }
  }
  &__logo{
    position: absolute;
    left: 135px;
    top: 30%;
    z-index: 100;
    padding-bottom: 10px;
  }
}
.headersp{
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .header{
    max-width: 100%;
    &__nav{
      display: none;
    }
    &__logo{
      margin: 25px 0;
      left: 34%;
      max-width: 100%;
      img{
        width: 50%;
      }
    }
  }
  // .headersp{
  //   visibility: visible;
  //   &__hum{
  //     display: block;
  //     position: fixed;    /* bodyに対しての絶対位置指定 */
  //     right: 13px;
  //     top: 12px;
  //     width: 42px;
  //     height: 51px;
  //     cursor: pointer;
  //     z-index: 3;
  //     // background: #666;
  //     text-align: center;

  //     span{
  //       display: block;
  //       position: absolute;    /* .navToggleに対して */
  //       width: 30px;
  //       border-bottom: solid 3px red;
  //       -webkit-transition: .35s ease-in-out;
  //       -moz-transition: .35s ease-in-out;
  //       transition: .35s ease-in-out;
  //       left: 6px;

  //     }
  //   }

  //   &__list{
  //     position: fixed;
  //     z-index: 2;
  //     top: 0;
  //     left: 0;
  //     background: #fff;
  //     color: #000;
  //     text-align: center;
  //     transform: translateY(-100%);
  //     transition: all 0.6s;
  //     width: 100%;
  //     .active {
  //       transform: translateY(0%);
  //     }
  //     ul{
  //       background: #ccc;
  //       margin: 0 auto;
  //       padding: 0;
  //       width: 100%;
  //     }
  //     li{
  //       font-size: 1.1em;
  //       list-style-type: none;
  //       padding: 0;
  //       width: 100%;
  //       border-bottom: 1px dotted #333;
  //       &:last-child {
  //         padding-bottom: 0;
  //         border-bottom: none;
  //       }
  //       a{
  //         display: block;
  //         color: #000;
  //         padding: 1em 0;
  //       }
  //     }
  //   }
  // }
}
