.header{
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 11px;
  display: flex;
  flex-direction: row-reverse;

  &__logo{
    position: absolute;
    left: 0;
    z-index: 200;
    img{
      min-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__hum{
    visibility: hidden;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    width: 304px;
    padding-top: 47px;

    li{
      font-size: 14px;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header{
    margin-top: 0;
    width: 100%;
    left: 0;
    top: 0;

    &__logo{
      position: absolute;
      z-index: 100;
      padding-bottom: 0;
      margin: 0 auto;
      left: 35%;
      width: 30%;

      img{
        width: 100%;
        margin: 10px auto;
      }
  }
  }
}
